.card-container {
  position: relative;
}

.card-container:hover {
  box-shadow: 2px 1px 10px #ccc;
}

.offer-title {
  color: #796FFC;
}

.c-body {
  color: #312D65;
}

.country-name {
  position: absolute;
  top: 10px;
  left: 0;
  background-color: #796FFC;
  color: #fff;
  padding: 3px 10px;
  font-weight: 500;
  border-radius: 0 5px 5px 0;
}

.fas,
.far {
  color: #FFB609;
}
